<footer class="under">
    <div class="contact">
        This web was developed by: <span class="e">WIN-UB Team</span>
        <div><span class="e">Email</span>: nalmantchamda@gmail.com</div>
        <div><span class="e">Contact:</span> +237 677400663</div>
        
    </div>

<div class="foot">
    <span> &copy; Copyright 2024 Nermah </span>
    <span> Developed by Nermah </span>
</div>
  </footer>