<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Win UB students</title>
    <link rel="icon" href="./photo/canva-blue-modern-free-academy-logo-IZPGP0F2HBg.jpg" type="image/png">
    <link rel="stylesheet" href="index.css">
  </head>
 <header>
    <h1 class="heading-top">Welcome to WIN-Students online platform</h1>

    <div class="nav-bar-container">
        <div>
            <img src="./photo/canva-i-blue-white-modern-book-illustration-logo-fZGjeEnvPl8.jpg" alt="loading" width="50px">
        </div>
        <div > <a class="nav-bar-four" href="/" >Home</a> </div>
        <div > <a class="nav-bar-one"  href="/registration">Login </a></div>
        <div> <a  class="nav-bar-two" href="/services" > Service</a></div>
        <div > <a class="nav-bar-three" href="/aboutus"  > About </a></div>
        
        <div ><a class="nav-bar-four" href="support">Support</a></div>
        <div><a class="nav-bar-five" href="contact">Contact Me</a></div>
        <div><a class="nav-bar-five" href="fun">Fun fact</a></div>
    </div>
 </header>
 
