<%- include("partials/header.ejs") %>

<div class="system">

    <div class="system-one">
        <p>
            <img src="./photo/canva-blue-modern-free-academy-logo-IZPGP0F2HBg.jpg" alt="loading" width="30px" > <br> <hr>
            University Life</p>
    </div>

    <div class="system-two">
        <p> <img src="./photo/istockphoto-1090026338-612x612.jpg" alt="loading" alt="loading" width="30px"> <br> Sport <br> <hr> Join the winning team</p>
    </div>

    <div class="system-three">
       <p> <img src="./photo/images.png" alt="loading" alt="loading" width="30px"> <br> Lectures <br> <hr> Lectures Name</p>
           </div>

    <div class="system-four">
        <p> <img src="./photo/images.jpeg" alt="loading" alt="loading" width="30px"> <br> Social  <hr> Send us a message</p>
    </div>
</div>
<br> <br>

    
    <div class="center">
        <div class="sigin-container">
  
            <form action="/sign" method="post" >
                <div class="signin-ff">
                    login
                 </div>
                <div class="s-name">
                    <label for="name">Email:  </label>
                    <input type="email" name="usersemail" id="name" placeholder="Enter Name" >
                </div>
        
                <div class="s-password">
                    <label for="password">Password:</label>
                    <input type="password" name="usersignpassword" id="password" placeholder="Enter Password" >
                </div>
        
                <div class="s-s">
                    <input type="submit" name="submit" id="s-ss" >
                </div>
                <hr color="blue">
        
                <div class="signin-f">
                    <div > <a class="c-t" href="/registration" > create an account </a></div>
                    <div class="f-p">forget password</div>
                </div>
            </form>
        </div>
    </div>


<div class="intro">
    <img src="./photo/canva-i-blue-white-modern-book-illustration-logo-fZGjeEnvPl8.jpg" alt="loading" width="200px">

     <p id="p-f"> <strong>WIN-UB</strong> <br> <br> was brought and Founded in 2024 by <strong>Tchamda Nalman</strong> , the was idea: How can student get access to informations , Notes, or speak to lectures easily hence our web was created . 
        Our Services goes 24/7 Students can add other students as friends who share a common interest ofcourse for the purses of Study
    Student should please take this seriously because its going to enable them improve on their studies </p>

    <p>
        <div class="notice">This is a platform for all University Students who want to communicate with course mate from thesame Faculty , Department .
            This platform will also give you access to Notes, be it Major , Minor , Elective or University Requirements.
We are associated with the University and all right are given to us by the <div class="vice">Vice-Chancellor :</div> <b id="vice">Prof. Ngomo Horace Manga(Ph.D)</b>
        </div>
    </p>
    
        
    </div>
  </body>
  <%- include("partials/footer.ejs") %>
  
</html>